<% if (user.isAdmin==true) { %>
<!--  -->
<%- include('./partials/adminHeader') %>
<!--  -->
<% }else{%>
<!--  -->
<%- include('./partials/userHeader') %>
<!--  -->
<%}%>

<!--  -->
<h3>All products</h3>
<div>
  <% if (allProducts.length>0) { %>
  <!--  -->
  <% for( let i = 0; i < allProducts.length; i++ ) { %>

  <div>
    <li>title:<%= allProducts[i].title%></li>
    <li>price:<%= allProducts[i].price%></li>
    <!--  -->
    <% if ( allProducts[i].imagePath != null) { %>
    <img
      src="<%= allProducts[i].imagePath %>"
      alt="image"
      width="200"
      height="150"
    />
    <!--  -->
    <% } %>
    <br />
    <button
      id="viewProductId"
      onclick="viewProduct('<%= allProducts[i]._id%>')"
    >
      view product
    </button>
    <!--  -->
    <button
      id="addToCartId"
      onclick="addToCartButton('<%= allProducts[i]._id%>')"
    >
      add to cart
    </button>
  </div>
  <!--  -->
  <br />
  <!--  -->
  <% } %>
  <!--  -->
  <% }else{%>
  <p>No product found</p>
  <%}%>
</div>

<script>
  async function viewProduct(productId) {
    //just redirect

    window.location.href = `${window.location.origin}/product/getOneProduct/${productId}`;
  }
  //
  async function addToCartButton(productId) {
    //

    const response = await fetch(
      `${window.location.origin}/cart/addToCart/${productId}`,
      {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        // body: JSON.stringify(data),
      }
    );

    //
    const result = await response.json();

    console.log(result, "result");
  }
</script>
