<%- include('./partials/userHeader') %>

<!--  -->
<h3><%= username %> Cart</h3>
<!--  -->

<% if (cart.length>0) { %>
<!--  -->
<button id="removeAllId" onclick="removeAllButtonFunc()">
  remove all item
</button>
<!--  -->
<% } %>

<!--  -->
<br />
<h5>Cart Value:<%= cartValue %></h5>
<br />
<!--  -->
<% if (cart.length>0) { %>
<!--  -->
<% for( let i = 0; i < cart.length; i++ ) { %>

<div>
  <li>title:<%= cart[i].title %></li>
  <li>price:<%= cart[i].price %></li>
  <li>quantity:<%= cart[i].quantity %></li>
  <!--  -->

  <% if (cart[i].imagePath!=null) { %>
  <!--  -->
  <img src="<%= cart[i].imagePath %>" alt="image" width="200" height="150" />
  <!--  -->
  <% } %>
  <!--  -->
</div>
<br />
<!--  -->
<button id="addToCartId" onclick="addToCartFunc('<%= cart[i]._id%>')">
  add to cart
</button>
<!--  -->
<button id="removeFromCartId" onclick="removeFromCartFunc('<%= cart[i]._id%>')">
  remove from cart
</button>
<!--  -->
<% } %>
<!--  -->
<% }else{%>
<p>No product in cart</p>
<%}%>
<!--  -->
<script>
  //
  async function removeAllButtonFunc() {
    try {
      const response = await fetch(
        `${window.location.origin}/cart/removeAllFromCart`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          // body: JSON.stringify(data),
        }
      );
      //
      const result = await response.json();
      console.log(result, "result");
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function addToCartFunc(productId) {
    //
    try {
      const response = await fetch(
        `${window.location.origin}/cart/addToCart/${productId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          // body: JSON.stringify(data),
        }
      );
      //

      const result = await response.json();
      console.log(result, "result");
    } catch (err) {
      console.log(err);
    }
  }
  //
  async function removeFromCartFunc(productId) {
    //
    try {
      const response = await fetch(
        `${window.location.origin}/cart/removeFromCart/${productId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          // body: JSON.stringify(data),
        }
      );
      //
      //
      const result = await response.json();
      console.log(result, "result");
    } catch (err) {
      console.log(err);
    }
  }
</script>
