<% if (user.isAdmin==true) { %>
<!--  -->
<%- include('./partials/adminHeader') %>
<!--  -->
<% }else{%>
<!--  -->
<%- include('./partials/userHeader') %>
<!--  -->
<%}%>
<!--  -->

<h3 class="text-center"><%= product.title%> details</h3>

<!--  -->
<!-- for alert -->
<!-- Add the alertContainer div inside the body -->
<div class="text-center" id="alertContainer"></div>
<!--  -->
<!--  -->

<div>
  <!--  -->
  <div class="row justify-content-center">
    <!--  -->
    <div class="col-lg-4">
      <!--  -->
      <div class="card mt-5 mb-5">
        <!--  -->
        <div class="card-body">
          <!--  -->
          <div class="row g-0 align-items-center">
            <!--  -->
            <!--  -->
            <% if (product.imagePath != null) { %>

            <img src="<%= product.imagePath %>" alt="image" class="img-fluid" />

            <% } %>
            <!--  -->
            <div class="col-md-6">
              <!--  -->
              <h5>price:$<%= product.price%></h5>
              <!-- <li>title:<%= product.title%></li> -->
            </div>
            <div class="col-md-6">
              <h6>this item count in cart : <%= getCountInCart%></h6>
            </div>
            <!-- <br /> -->

            <!--  -->
            <label for="count">mention count</label>
            <br />
            <!--  -->
            <div class="col">
              <input type="number" id="itemCountID" placeholder="1" />
            </div>
            <!--  -->
            <br />
            <!--  -->

            <div>
              <button
                class="btn btn-secondary"
                id="removeFromCartId"
                onclick="removeFromCartFunc('<%= product._id%>')"
              >
                remove from cart
              </button>
              <!--  -->
              <% if ( product.productLeft > 0) { %>
              <!--  -->
              <!--  -->

              <!--  -->
              <button
                class="btn btn-success"
                id="addToCartId"
                onclick="addToCartButton('<%= product._id%>')"
              >
                <i class="fas fa-shopping-cart"></i>
                add to cart
              </button>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <% } else{%>
    <p>cant buy, product out of stock</p>
    <%}%>

    <br />
  </div>
</div>

<script>
  //
  // Function to display a Bootstrap alert
  // Function to display a Bootstrap alert with a close button
  function showBootstrapAlert(message, alertType) {
    const alertContainer = document.getElementById("alertContainer");
    const alertDiv = document.createElement("div");
    alertDiv.classList.add(
      "alert",
      `alert-${alertType}`,
      "mt-2",
      "alert-dismissible",
      "fade",
      "show"
    );

    // Add the close button
    alertDiv.innerHTML = `
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    ${message}
  `;

    alertContainer.appendChild(alertDiv);
    //
    //
    // Automatically close the alert after 2 seconds
    setTimeout(function () {
      alertDiv.remove(); // Remove the alert from the DOM
    }, 2000);
  }

  //
  async function removeFromCartFunc(productId) {
    //
    try {
      const quantity = document.getElementById("itemCountID").value;
      //
      const data = { quantity: quantity };
      //
      const response = await fetch(
        `${window.location.origin}/cart/removeFromCart/${productId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }
      );
      //
      //
      const result = await response.json();
      console.log(result, "result");
      //
      if (result.message) {
        //
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //

          //alert
          await showBootstrapAlert(oneMessage, "primary");

          // redirect
          await setTimeout(() => {
            //
            window.location.href = window.location.href;
          }, 2000);
        }
        //
      }
    } catch (err) {
      console.log(err);
    }
  }
  //
  //
  async function addToCartButton(productId) {
    //

    const quantity = document.getElementById("itemCountID").value;
    //
    const data = { quantity: quantity };

    const response = await fetch(
      `${window.location.origin}/cart/addToCart/${productId}`,
      {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      }
    );

    //
    const result = await response.json();
    //
    if (result.message) {
      //
      for (let i = 0; i < result.message.length; i++) {
        const oneMessage = result.message[i];

        //alert
        await showBootstrapAlert(oneMessage, "primary");

        //redirect
        await setTimeout(() => {
          //
          window.location.href = window.location.href;
        }, 2000);
      }
      //
    }

    console.log(result, "result");
  }
</script>
<!--  -->
<%- include('./partials/footer') %>
