<% if (user.isAdmin==true) { %>
<!--  -->
<%- include('./partials/adminHeader') %>
<!--  -->
<% }else{%>
<!--  -->
<%- include('./partials/userHeader') %>
<!--  -->
<%}%>

<!-- <div class="container"> -->
<!--  -->
<div class="row justify-content-center">
  <!--  -->
  <!--  -->
  <!-- <div class="row justify-content-center"> -->
  <!--  -->
  <!--  -->

  <h3 class="text-center"><%= user.username %> Order page</h3>
  <!--  -->
  <!-- for alert -->
  <!-- Add the alertContainer div inside the body -->
  <div class="text-center" id="alertContainer"></div>
  <!--  -->

  <% if (ordersArray.length>0) { %>
  <!--  -->
  <!-- <h4>order details</h4> -->
  <!-- <h4>order details</h4> -->
  <% for( let i = 0; i < ordersArray.length; i++ ) { %>
  <!--  -->
  <div class="col-lg-6">
    <!-- bootstrap -->
    <div class="card mt-5 mb-5">
      <!--  -->
      <div class="card-body">
        <!-- <div class="row g-0"> -->
        <!--  -->
        <div>
          <h4>Order Summary</h4>
          <hr />

          <!--  -->

          <span
            ><h6>
              order total:$<%= ordersArray[i].cartValue %>
              <!-- &nbsp --adds space -->
              &nbsp &nbsp &nbsp &nbsp order status :<%= ordersArray[i].status %>
            </h6>
          </span>
          <hr />
          <p><strong>deliverd address</strong>:<%= ordersArray[i].address %></p>
          <p><strong>orderd on </strong>:<%= ordersArray[i].createdAt %></p>
          <!--  -->
          <!--  -->
          <% if (ordersArray[i].status === "cancelled") { %>
          <h6>
            <strong>
              Order Cancelled - Your payment will be refunded to your account
            </strong>
          </h6>
          <% } else { %>
          <button
            class="btn btn-dark"
            id="cancelOrderId"
            onclick="oneOrderCancelFunc('<%= ordersArray[i]._id %>')"
          >
            Cancel Order
          </button>
          <% } %>
          <br />
          <!--  -->

          <!--  -->
          <!-- Product Details -->
          <h5>Product Details</h5>
          <!--  -->
          <% for( let j = 0; j < ordersArray[i].cartArray.length; j++ ) { %>
          <!--  -->
          <div class="row g-0 align-items-center">
            <!--  -->
            <div class="col-md-4">
              <!--  -->
              <!-- product image -->
              <% if (ordersArray[i].cartArray[j].imagePath!=null) { %>
              <!--  -->
              <img
                src="<%= ordersArray[i].cartArray[j].imagePath %>"
                alt="image"
                class="img-fluid"
              />
              <!--  -->

              <% } %>
              <!--  -->
            </div>
            <!--  -->

            <div class="col-md-8">
              <div class="mx-3 px-3">
                <h6><%= ordersArray[i].cartArray[j].title %></h6>
                <p>
                  <strong>price </strong>:$<%= ordersArray[i].cartArray[j].price
                  %>
                </p>
                <p>
                  <strong>quantity </strong>:<%=
                  ordersArray[i].cartArray[j].quantity %>
                </p>
                <br />

                <button
                  class="btn btn-secondary"
                  id="viewProdId"
                  onclick="viewProdFunc('<%= ordersArray[i].cartArray[j]._id%>')"
                >
                  view product
                </button>
              </div>
              <!--  -->

              <!--  -->
              <!--  -->

              <!--  -->

              <!--  -->
              <!--  -->
            </div>
            <br />
            <!--  -->
          </div>
          <!--  -->
          <% } %>
        </div>
        <!-- </div> -->
      </div>
      <!-- boottsrap 2 -->
    </div>
    <!-- bootstrap 1-->
  </div>

  <hr />
  <% } %>

  <!--  -->
  <% }else{%>
  <br />
  <br />
  <h5 class="text-center">No orders made by you</h5>
  <%}%>

  <!--  -->
</div>

<!--  -->
<!-- </div> -->

<!--  -->
<script>
  ///////////////////////////////
  // Function to display a Bootstrap alert
  // Function to display a Bootstrap alert with a close button
  function showBootstrapAlert(message, alertType) {
    const alertContainer = document.getElementById("alertContainer");
    const alertDiv = document.createElement("div");
    alertDiv.classList.add(
      "alert",
      `alert-${alertType}`,
      "mt-2",
      "alert-dismissible",
      "fade",
      "show"
    );

    // Add the close button
    alertDiv.innerHTML = `
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    ${message}
  `;

    alertContainer.appendChild(alertDiv);
    //
    // Automatically close the alert after 2 seconds
    setTimeout(function () {
      alertDiv.remove(); // Remove the alert from the DOM
    }, 2000);
  }
  /////////////////////////////////
  //
  async function viewProdFunc(productId) {
    //
    try {
      window.location.href = `${window.location.origin}/product/getOneProduct/${productId}`;
    } catch (err) {
      console.log(err);
    }
  }
  //

  async function oneOrderCancelFunc(orderId) {
    //
    try {
      const response = await fetch(
        `${window.location.origin}/order/cancelOrderAsUser/${orderId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          // body: JSON.stringify(data),
          //
        }
      );
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      if (result.message) {
        //
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];

          // alert(oneMessage);
          //
          //alert
          await showBootstrapAlert(oneMessage, "primary");
          //
          if (oneMessage == "order cancelled") {
            // window.location.href = window.location.href;
            await setTimeout(() => {
              //
              window.location.href = window.location.href;
            }, 2000);
          }
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
<!--  -->
