<%- include('./partials/userHeader') %>

<!--  -->

<h3><%= user.username %> Order page</h3>

<% if (ordersArray.length>0) { %>
<!--  -->
<h4>order details</h4>
<% for( let i = 0; i < ordersArray.length; i++ ) { %>

<div>
  <!--  -->
  <% if (ordersArray[i].status=="cancelled") { %>
  <!--  -->
  <h5>order cancelled your payment would be refunded to your account</h5>
  <!--  -->
  <% } %>
  <!--  -->
  <% if (ordersArray[i].status!="cancelled") { %>
  <!--  -->
  <button
    id="cancelOrderId"
    onclick="oneOrderCancelFunc('<%= ordersArray[i]._id %>')"
  >
    cancel order
  </button>
  <!--  -->
  <% } %>
  <!--  -->

  <!--  -->
  <p>order total:<%= ordersArray[i].cartValue %></p>
  <p>order status:<%= ordersArray[i].status %></p>
  <p>deliverd address:<%= ordersArray[i].address %></p>
  <p>orderd on:<%= ordersArray[i].createdAt %></p>
  <br />
  <!--  -->
  <p>product details</p>
  <!--  -->
  <% for( let j = 0; j < ordersArray[i].cartArray.length; j++ ) { %>
  <!--  -->

  <div>
    <li>title:<%= ordersArray[i].cartArray[j].title %></li>
    <li>price:<%= ordersArray[i].cartArray[j].price %></li>
    <li>quantity:<%= ordersArray[i].cartArray[j].quantity %></li>
    <!--  -->
    <!-- <li>quantity:<%= ordersArray[i].cartArray[j]._id %></li> -->
    <!--  -->
    <!--  -->
    <% if (ordersArray[i].cartArray[j].imagePath!=null) { %>
    <!--  -->
    <img
      src="<%= ordersArray[i].cartArray[j].imagePath %>"
      alt="image"
      width="200"
      height="150"
    />
    <!--  -->

    <% } %>
    <!--  -->
    <br />

    <button
      id="viewProdId"
      onclick="viewProdFunc('<%= ordersArray[i].cartArray[j]._id%>')"
    >
      view product
    </button>
    <!--  -->
    <!--  -->
  </div>
  <br />

  <!--  -->
  <% } %>
</div>

<hr />
<% } %>

<!--  -->
<% }else{%>
<p>No orders made by you</p>
<%}%>
<!--  -->
<script>
  ///////////////////////////////
  // window.onload = async function () {
  //   //
  //   try {
  //     //
  //     const response = await fetch(
  //       `${window.location.origin}/order/getYourOrders`
  //     );
  //     //
  //     const result = await response.json();
  //     //
  //     console.log(result.message, "result");
  //     //
  //     // if (result.message) {
  //     //   //
  //     //   for (let i = 0; i < result.message.length; i++) {
  //     //     const oneMessage = result.message[i];
  //     //     //
  //     //     // if (oneMessage == "order cancelled") {
  //     //     //   window.location.href = window.location.href;
  //     //     // }
  //     //     // alert(oneMessage);
  //     //     console.log(oneMessage);
  //     //   }
  //     // }

  //     //
  //   } catch (err) {
  //     console.log(err);
  //   }
  //   // alert("hi");
  //   // for (let index = 0; index < message.length; index++) {
  //   //   // const element = array[index];
  //   //   console.log(message[index]);
  //   // }
  // };
  ///////////////////////////////
  //
  async function viewProdFunc(productId) {
    //
    try {
      window.location.href = `${window.location.origin}/product/getOneProduct/${productId}`;
    } catch (err) {
      console.log(err);
    }
  }
  //

  async function oneOrderCancelFunc(orderId) {
    //
    try {
      const response = await fetch(
        `${window.location.origin}/order/cancelOrderAsUser/${orderId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          // body: JSON.stringify(data),
          //
        }
      );
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      if (result.message) {
        //
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //
          // console.log();
          //
          alert(oneMessage);
          //
          if (oneMessage == "order cancelled") {
            window.location.href = window.location.href;
          }
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
<!--  -->
