<% if (user.isAdmin==true) { %>
<!--  -->
<%- include('./partials/adminHeader') %>
<!--  -->
<% }else{%>
<!--  -->
<%- include('./partials/userHeader') %>
<!--  -->
<%}%>
<!-- bootstarp-1 -->
<div class="row justify-content-center">
  <!-- bootstarp-2 -->
  <div class="col-lg-4 text-center width:100%">
    <!--  -->
    <div class="bg-white shadow rounded mt-3 pb-5">
      <!--  -->
      <!--  -->
      <h3 class="text-center"><%= user.username %> Details</h3>
      <!-- for alert -->
      <!-- Add the alertContainer div inside the body -->
      <div id="alertContainer"></div>
      <!--  -->

      <div>
        <!--  -->
        <div>
          <!--  -->
          <% if (user.imagePath!=null) { %>
          <!--  -->
          <div class="d-flex">
            <!--  -->
            <img src="<%= user.imagePath %>" alt="image" class="img-fluid" />
            <% } %>
            <!--  -->
          </div>
        </div>

        <!--  -->
        <div>
          <p>username:<%= user.username %></p>
          <!-- if user is admin -->
          <% if (user.isAdmin==true) { %>
          <p>admin:<%= user.isAdmin %></p>
          <% } %>
        </div>
        <!-- update password -->
        <hr />
        <div>
          <p>update password</p>
          <label for="password">Password</label>
          <input type="password" id="updatePassId" required />
          <!-- form Button -->
          <button
            class="btn btn-secondary"
            id="updatePassButton"
            onclick="updatePassFunc()"
          >
            Submit
          </button>
        </div>
        <br />
        <hr />
        <!-- update profile image -->
        <p>update profile image</p>
        <form action="#">
          <!--  -->
          <label for="imageUpload">Image</label>
          <input type="file" id="profileImageId" name="file" />
          <!--  -->
        </form>

        <button
          class="btn btn-secondary"
          id="updateProfileImage"
          onclick="updateImgFunc()"
        >
          update image
        </button>
        <!--  -->
        <!--  -->
        <!--  -->

        <!--  -->
      </div>

      <!--  -->
    </div>
    <!--  -->
  </div>
  <!-- Bootstrap 2 -->
</div>
<!-- Bootstrap 1 -->
<!--  -->
<script>
  //
  // Function to display a Bootstrap alert
  // Function to display a Bootstrap alert with a close button
  function showBootstrapAlert(message, alertType) {
    const alertContainer = document.getElementById("alertContainer");
    const alertDiv = document.createElement("div");
    alertDiv.classList.add(
      "alert",
      `alert-${alertType}`,
      "mt-2",
      "alert-dismissible",
      "fade",
      "show"
    );

    // Add the close button
    alertDiv.innerHTML = `
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    ${message}
  `;

    alertContainer.appendChild(alertDiv);
    //
    //
    // Automatically close the alert after 2 seconds
    setTimeout(function () {
      alertDiv.remove(); // Remove the alert from the DOM
    }, 2000);
  }
  //////////////////////////////
  //
  async function updateImgFunc() {
    //
    try {
      const imageUpload = document.getElementById("profileImageId");
      //this line was important - to upload image from browser
      const imageFile = imageUpload.files[0];
      //
      let data = new FormData();
      //
      data.append("file", imageFile);
      //
      const response = await fetch(
        `${window.location.origin}/user/updateUserPic`,
        {
          method: "PUT",

          body: data,
        }
      );
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      if (result.message) {
        // console.log(result.message);
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];

          //alert
          await showBootstrapAlert(oneMessage, "primary");

          //redirect
          if (oneMessage == "image updated") {
            // window.location.href = window.location.href;
            // redirect
            await setTimeout(() => {
              //
              window.location.href = window.location.href;
            }, 2000);
          }
        }
      }
      //
    } catch (err) {
      console.log(err);
    }
  }

  //
  async function updatePassFunc() {
    try {
      const password = document.getElementById("updatePassId").value;
      //
      const data = { password: password };
      //
      const response = await fetch(
        `${window.location.origin}/user/updatePassword`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }
      );
      //
      const result = await response.json();
      console.log(result, "result");
      //
      if (result.message) {
        // console.log(result.message);
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];
          //
          //alert bootstrap
          await showBootstrapAlert(oneMessage, "primary");
          //
          if (oneMessage == "password updated") {
            // window.location.href = `${window.location.origin}/auth/login`;
            //
            // redirect
            await setTimeout(() => {
              //
              window.location.href = `${window.location.origin}/auth/login`;
            }, 2000);
          }
        }
      }
    } catch (err) {
      console.log(err);
    }
  }
</script>
