<%- include('../partials/adminHeader') %>
<!--  -->
<h3>All orders</h3>

<!-- for alert -->
<!-- Add the alertContainer div inside the body -->
<div id="alertContainer"></div>
<!--  -->
<!--  -->

<% if (ordersArray.length>0) { %>
<!--  -->
<!--  -->
<% for( let i = 0; i < ordersArray.length; i++ ) { %>
<!--  -->
<% if (ordersArray[i].status!="cancelled") { %>
<!--  -->
<button
  id="cancelOrderId"
  onclick="oneOrderCancelFunc('<%= ordersArray[i]._id %>')"
>
  cancel order
</button>
<!--  -->
<% } %>
<!--  -->
<p>orderd by:<%= ordersArray[i].cartOwnerUsername %></p>
<p>order value:<%= ordersArray[i].cartValue %></p>
<p>delivery address:<%= ordersArray[i].address %></p>
<p>status:<%= ordersArray[i].status %></p>
<p>orderd on:<%= ordersArray[i].createdAt %></p>
<!--  -->
<% if (ordersArray[i].cartArray.length>0) { %>
<!--  -->
<% for( let j = 0; j < ordersArray[i].cartArray.length; j++ ) { %>
<!--  -->
<li>item title:<%= ordersArray[i].cartArray[j].title %></li>
<li>price:<%= ordersArray[i].cartArray[j].price %></li>
<li>quantity:<%= ordersArray[i].cartArray[j].quantity %></li>
<!--  -->
<% if (ordersArray[i].cartArray[j].imagePath!=null) { %>
<!--  -->
<img
  src="<%= ordersArray[i].cartArray[j].imagePath %>"
  alt="image"
  width="200"
  height="150"
/>
<!--  -->
<% } %>
<!--  -->
<br />
<!--  -->
<% } %>
<!--  -->
<!--  -->
<!--  -->
<% } %>
<!--  -->
<hr />
<% } %>
<!--  -->
<!--  -->
<% } else { %>
<!--  -->
<p>no order found</p>
<%}%>

<script>
  //
  // Function to display a Bootstrap alert
  // Function to display a Bootstrap alert with a close button
  function showBootstrapAlert(message, alertType) {
    const alertContainer = document.getElementById("alertContainer");
    const alertDiv = document.createElement("div");
    alertDiv.classList.add(
      "alert",
      `alert-${alertType}`,
      "mt-2",
      "alert-dismissible",
      "fade",
      "show"
    );

    // Add the close button
    alertDiv.innerHTML = `
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    ${message}
  `;

    alertContainer.appendChild(alertDiv);
    //
    //
    // Automatically close the alert after 2 seconds
    setTimeout(function () {
      alertDiv.remove(); // Remove the alert from the DOM
    }, 2000);
  }
  //
  //
  async function oneOrderCancelFunc(orderId) {
    try {
      const response = await fetch(
        `${window.location.origin}/order/cancelOrderAsAdmin/${orderId}`,
        {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },

          // body: JSON.stringify(data),
        }
      );
      //
      const result = await response.json();
      //
      console.log(result, "result");
      //
      if (result.message) {
        //
        for (let i = 0; i < result.message.length; i++) {
          const oneMessage = result.message[i];

          //
          //
          //alert
          await showBootstrapAlert(oneMessage, "primary");
          //
          if (oneMessage == "order cancelled") {
            window.location.href = window.location.href;
          }
        }
      }

      //

      //
    } catch (err) {
      console.log(err);
    }
  }
</script>
