<%- include('../partials/adminHeader') %>

<h3>All user carts -- Admin view</h3>

<!--  -->
<% if (filledCarts.length>0) { %>
<!--  -->
<% for( let i = 0; i < filledCarts.length; i++ ) { %>
<!--  -->
<div>cart owner: <%= filledCarts[i].cartOwnerUsername %></div>
<div>cart value:<%= filledCarts[i].cartValue %></div>
<br />
<!--  -->

<!--  -->
<% if (filledCarts[i].cartArray.length>0) { %>
<p>product details</p>
<!--  -->
<% for( let j = 0; j < filledCarts[i].cartArray.length; j++ ) { %>
<!--  -->
<li>title:<%= filledCarts[i].cartArray[j].title %></li>
<li>price:<%= filledCarts[i].cartArray[j].price %></li>
<li>quantity:<%= filledCarts[i].cartArray[j].quantity %></li>
<!--  -->
<!--  -->
<% if (filledCarts[i].cartArray[j].imagePath!=null) { %>
<!--  -->
<img
  src="<%= filledCarts[i].cartArray[j].imagePath %>"
  alt="image"
  width="200"
  height="150"
/>
<!--  -->
<% } %>
<!--  -->
<% } %>
<!--  -->
<% } %>
<!--  -->
<hr />
<% } %>

<!--  -->
<% } else{%>
<p>No cart with items in it</p>
<%}%>
<!--  -->
<!-- empty carts -->
<!--  -->
<% if (emptyCarts.length>0) { %>
<!--  -->
<h4>Empty carts</h4>
<!--  -->
<% for( let i = 0; i < emptyCarts.length; i++ ) { %>
<!--  -->
<!--  -->
<div>cart owner: <%= emptyCarts[i].cartOwnerUsername %></div>
<div>cart value:<%= emptyCarts[i].cartValue %></div>
<br />
<!--  -->
<% } %>
<!--  -->
<% }else{%>
<p>No empty cards</p>
<%}%>
<!--  -->
