<%- include('../partials/adminHeader') %>

<h3 class="text-center">One user orders(admin view)</h3>

<br />
<% if (ordersArray.length>0 ) { %>
<!--  -->
<div class="row justify-content-center">
  <!--  -->
  <div class="col-lg-6">
    <!--  -->
    <div class="card mt-5 mb-5">
      <!--  -->
      <div class="card-body">
        <!--  -->
        <div class="row g-0 align-items-center">
          <!--  -->
          <% for( let i = 0; i < ordersArray.length; i++ ) { %>
          <!--  -->
          <!-- <div> -->
          <!--  -->
          <h5>order status :<%= ordersArray[i].status %></h5>
          <h5>order value :$<%= ordersArray[i].cartValue %></h5>
          <p>username: <%= ordersArray[i].cartOwnerUsername %></p>

          <p>order address :<%= ordersArray[i].address %></p>
          <!--  -->
          <% if (ordersArray[i].cartArray.length>0) { %>
          <!--  -->
          <% for( let j = 0; j < ordersArray[i].cartArray.length; j++ ) { %>

          <!--  -->
          <% if (ordersArray[i].cartArray[j].imagePath!=null) { %>
          <!--  -->

          <div class="col-md-4">
            <img
              src="<%= ordersArray[i].cartArray[j].imagePath %>"
              alt="image"
              class="img-fluid"
            />
            <!--  -->
            <% } %>
          </div>
          <div class="col-md-6">
            <!--  -->
            <!--  -->
            <h5><%=ordersArray[i].cartArray[j].title %></h5>
            <li>price:$<%=ordersArray[i].cartArray[j].price %></li>
            <li>quantity:<%=ordersArray[i].cartArray[j].quantity %></li>
            <!--  -->
          </div>
          <!--  -->

          <!--  -->
          <% } %>
          <!--  -->
          <% } %>
          <hr />
          <hr />
          <!-- </div> -->
          <!--  -->
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<% }else{%>
<h5 class="text-center">No order by this user</h5>
<%}%>
